body{
    background-color:rgb(53, 170, 238);
    color:white;
    width:500px;
    margin-right:auto;
    margin-left: auto;
}

button{
    padding:5px 20px;
    background-color: rgb(25, 113, 228);
    border-color:rgb(25, 113, 228);
    border-style:none;
    color:white;
}

input{
    height:20px;
}
